$primary-color: #ff6060;
$light-gray: #f7f7f7;
$dark: #000;

$radius: 10px;
$max-width: 1240px;

.error {
  text-align: center;
  margin: 100px 0;
  color: $primary-color;

  h1 {
    font-size: 10rem;
    color: $primary-color;
  }

  p {
    font-size: 1.5rem;
    margin: 20px 0 40px;
  }

  a {
    text-decoration: underline;
  }
}
