$primary-color: #ff6060;
$light-gray: #f7f7f7;
$dark: #000;

$radius: 10px;
$max-width: 1240px;

.error {
  font-family: "Montserrat", sans-serif;
  max-width: 1240px;
  text-align: center;
  margin: 100px 0;
  color: $primary-color;

  h1 {
    font-size: 288px;
    color: $primary-color;
    margin-bottom: 43px;
  }

  p {
    font-size: 36px;
    margin: 20px 0 40px;
  }

  a {
    text-decoration: underline;
  }
}
@media (max-width: 768px) {
  .error h1 {
    font-size: 96px;
  }

  .error p {
    font-size: 18px;
    text-align: center;
  }

  .error a {
    font-size: 14px;
  }
}

