$primary-color: #ff6060;
$light-gray: #f7f7f7;
$dark: #000;

$radius: 10px;
$max-width: 1240px;


.home {
  .gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
  }
  .cards {
    margin-top: 40px;
    background: $light-gray;
    border-radius: $radius;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }
}
