$primary-color: #ff6060;
$light-gray: #f7f7f7;
$dark: #000;

$radius: 10px;
$max-width: 1240px;


.housing {
  max-width: 1240px;
  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: start;
  }

  &__title {
    h1 {
      color: $primary-color;
      font-size: 2rem;
      margin-bottom: 5px;
    }
    p{
      color: #000;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    margin: 15px 0;

    span {
      background: $primary-color;
      color: white;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: 0.8rem;
    }
  }

  &__owner-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }

  &__owner {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__rating {
    .star {
      font-size: 1.5rem;
      color: #e3e3e3;

      &.filled {
        color: $primary-color;
      }
    }
  }

  &__details {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
  }
}

@media (max-width: 768px) {
  .housing{
    margin: 0 15px;
  }
  .housing__info {
    
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "tags tags"
      "rating owner";
    gap: 15px;
  }
  .housing__title {
    grid-area: title;
  }

  .housing__tags {
    grid-area: tags;
  }

  .housing__rating {
    grid-area: rating;
    justify-self: start;
  }

  .housing__owner {
    grid-area: owner;
    justify-self: end;
  }
    .housing__owner-rating {
    display: contents;
  }
  .housing__details {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
}

