@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $white;
  color: black;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
