@use "./base.scss";
@use "variables";

@use "../components/Header/header.scss";
@use "../components/Footer/footer.scss";
@use "../components/Banner/banner.scss";
@use "../components/Card/card.scss";

@use "./Pages/home.scss";
@use "./Pages/about.scss";
@use "./Pages/housing.scss";
@use "./Pages/error.scss";