@use "../../styles/variables" as *;

.card {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  text-align: start;
  background: $primary-color;


  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    position: relative;
    color: white;
    font-size: 18px;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .card {
    height: 255px;

    &__title {
      font-size: 18px;
    }
  }
}
