.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background: #000;

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  &__title {
    position: relative;
    color: white;
    padding: 15px;
    font-size: 1rem;
  }
}
