.collapse {
  max-width: 1240px;
  border: 1px solid #FF6060;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: #FF6060;
    color: white;
    font-weight: bold;
  }

  &__content {
    padding: 15px;
    background-color: #f7f7f7;
    line-height: 1.5;
    font-size: 1rem;
    color: black;
    text-align: start;
      ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  &__arrow {
    transition: transform 0.3s ease;
    &--open {
      transform: rotate(180deg);
    }
  }
}
@media (max-width: 768px) {
  .collapse__header {
    height: 30px;
    font-size: 13px;
    padding: 0 10px;
  }

  .collapse__content {
    font-size: 12px;
    padding: 15px;
  }
}

