@use "../../styles/variables" as *;

.header {
  max-width: 1240px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  &__logo {
    height: 100%;
  }

  &__nav {
    display: flex;
    gap: 57px;

    a {
      font-size: 24px;
      font-weight: 500;
      color: black;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 0 20px;

    &__logo {
      height: 45px;
    }

    &__nav a {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

