@use "../../styles/variables" as *;
footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 15px;

  img {
    width: 120px;
    margin-bottom: 20px;
  }
}
