@use "../../styles/variables" as *;
footer {
  max-width: 1240px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 15px;

  img {
    width: 120px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;

    img {
      width: 122px;
    }

    p {
      font-size: 12px;
    }
  }
}
