.banner {
  height: 220px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    color: white;
    font-size: 2.5rem;
  }
}
