@use "../../styles/variables" as *;

.banner {
  width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: center;
  margin-top: 100px;

  &__container {

  width: 1240px;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;


  }

  &__img {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 25px;
    filter: brightness(60%);
    object-fit: cover;

    &--cover {
      object-fit: contain;
    }

    &--contain {
      object-fit: contain;
      background: black;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__title {
    position: relative;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -110px;
    margin-bottom: 125px;

    color: white;
    font-size: 48px;
    font-weight: 500;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px black;
  }
}

@media (max-width: 768px) {
  .banner{
    margin: 0;
  }
  .banner__container {
    height: 111px;
    border-radius: 10px;
  }

  .banner__title {
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
  }
}
